body,
html {
  height: 100%;
  margin: 0;
}

header {
  height: 100vh;
  min-height: 500px;
  background-image: url("../media/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

header h1 {
  padding-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Varela Round";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  text-shadow: 2px 2px 8px #0040ff;
  -webkit-animation: fadeOut;
          animation: fadeOut;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

header h2 {
  font-size: 1.25rem;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 0 0 8px #0040ff;
  -webkit-animation: fadeOut;
          animation: fadeOut;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

header a {
  padding: 1.25rem 2rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: black;
  font-family: "Varela Round";
  text-decoration: none;
  background-color: #e6e6e6;
  border-color: white;
  -webkit-box-shadow: 0 0 10px #0040ff;
          box-shadow: 0 0 10px #0040ff;
}

header a:hover {
  background-color: white;
}

header a:focus {
  background-color: white;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 5rem;
  background: white;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: linear-gradient(to bottom, white 0%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

#about .my-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-me img {
  width: 40%;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 2px solid black;
  border-radius: 50%;
}

#portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: gray;
}

#contact {
  background-color: lightgray;
}

@media (min-width: 768px) {
  header h1 {
    font-size: 4rem;
    line-height: 4rem;
    text-shadow: 2px 2px 12px #0040ff;
  }
}

@media (min-width: 992px) {
  header h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.5rem;
    text-shadow: 2px 2px 12px #0040ff;
  }
  header h2 {
    font-size: 2rem;
    text-shadow: 0 0 10px #0040ff;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */