body,
html {
  height: 100%;
  margin: 0;
}

$text-shadow: #0040ff;

@mixin border-theme {
  border-color: white;
  box-shadow: 0 0 10px $text-shadow;
}

@mixin body-textD {
  color: #0d0d0d;
  font-size: 1rem;
  font-family: "Courier New";
}

@mixin fadeOut{
  animation: fadeOut;
  animation-duration: 3s;
  animation-timing-function: ease-out; 
  animation-iteration-count: 1;
}

//------|HEADER|------
header {
  height: 100vh;
  min-height: 500px;
  background-image: url("../media/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;

  h1 {
    padding-top: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Varela Round";
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    text-shadow: 2px 2px 8px $text-shadow;
    @include fadeOut();
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 900;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 0 0 8px $text-shadow;
    @include fadeOut();
  }

  a{
    padding: 1.25rem 2rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: black;
    font-family: "Varela Round";
    text-decoration: none;
    background-color: #e6e6e6;
    @include border-theme();

    &:hover {
      background-color: white;
    }

    &:focus {
      background-color: white;
    }
  }
}

#about {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */  

  .my-row{
    display: flex;
  }
}


#about-me{
  display: flex;
  justify-content: center;

  img{
    width: 50%;
    justify-self: center;
    border: 2px solid black;
    border-radius: 50%;
  }
}

#portfolio {
  display: flex;
  background-color: gray;
}

#contact {
  background-color: lightgray;
}


@media (min-width: 768px) {
  header h1 {
    font-size: 4rem;
    line-height: 4rem;
    text-shadow: 2px 2px 12px $text-shadow;
  }
}

@media (min-width: 992px) {
  header h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.5rem;
    text-shadow: 2px 2px 12px $text-shadow;
  }
  header h2 {
    font-size: 2rem;
    text-shadow: 0 0 10px $text-shadow;
  }
}

@keyframes fadeOut{
  from { opacity: 0; }
  to   { opacity: 1; }
}
