* {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

$text-shadow: #0040ff;

//------|mixin|------\\
@mixin border-theme {
  border-color: white;
  box-shadow: 0 0 10px $text-shadow;
}

@mixin body-textD {
  color: #0d0d0d;
  font-size: 1rem;
  font-family: "Courier New";
}

@mixin fadeOut {
  animation: fadeOut;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@mixin dark2Light {
  background: rgb(0, 0, 0); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

@mixin light2Dark {
  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin gridAreas {
  .item-a {
    grid-area: aboutMe;
  }
  .item-b {
    grid-area: myPic;
  }
  .item-c {
    grid-area: mySkills;
  }
  .item-d {
    grid-area: schoolPic;
  }
  .item-e {
    grid-area: school;
  }
}
//------|mixin|------\\

//------|Navbar|------\\
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;

  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 6rem;
  }

  a {
    padding: 8px;
    text-decoration: none;
    font-size: 3rem;
    color: #818181;
    display: block;
    transition: 0.5s;

    &:hover,
    &:focus {
      color: #f1f1f1;
    }
  }
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#nav-btn {
  color: whitesmoke;
  font-size: 3rem;
  cursor: pointer;
}
//------|Navbar|------\\

//------|Header|------\\
header {
  height: 100vh;
  min-height: 500px;
  //background-image: url("../media/hero.jpg");
  //background-color: gray;
  @include dark2Light();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    padding-top: 10px;
    font-weight: 700;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: "Varela Round";
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    @include fadeOut();
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 900;
    color: whitesmoke;
    font-family: "Times New Roman", Times, serif;
    @include fadeOut();
  }

  .h-title {
    padding: 1.25rem 2rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: black;
    font-family: "Varela Round";
    text-decoration: none;
    background-color: #e6e6e6;
    @include border-theme();

    &:hover {
      background-color: white;
    }

    &:focus {
      background-color: white;
    }
  }
}
//------|Header|------\\

//------|About Section|------\\
#about {
  display: grid;
  row-gap: 20px;
  padding: 2rem 4rem;
  grid-template-columns: 50% 50%;
  grid-row: auto;
  grid-template-areas:
    "aboutMe myPic"
    "mySkills  mySkills"
    "school schoolPic";
  @include light2Dark();
}

.item-a {
  grid-area: aboutMe;
}

.item-b {
  grid-area: myPic;
}

.item-c {
  grid-area: mySkills;
}

.item-d {
  grid-area: schoolPic;
}

.item-e {
  grid-area: school;
}

#about-me {
  display: flex;
  justify-content: center;

  img {
    width: 40%;
    justify-self: center;
    @include border-theme();
    border-radius: 50%;
    animation-name: rightSlide;
    animation-duration: 1s;
  }
}

#about-skills {
  div {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    img {
      width: 5%;
    }
  }
}

#about-school {
  display: flex;
  justify-content: center;
  padding: 1rem;

  img {
    width: 90%;
    justify-self: center;
    @include border-theme();
    border-radius: 5%;
  }
}
//------|About Section|------\\

//------|portfolio Section|------\\
#portfolio {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  @include dark2Light();

  h1,
  hr {
    color: white;
  }
}

#projects-menu {
  display: flex;
  justify-content: center;
  gap: 10px;

  button {
    padding: 10px;
    margin: 2px;
    border: 0;
    color: white;
    font-size: 1.5rem;
    background-color: transparent;

    &:hover {
      color: black;
      @include border-theme();
      background-color: whitesmoke;
    }

    &:focus {
      color: black;
      @include border-theme();
      background-color: whitesmoke;
    }
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 1rem;
}

.my-cards {
  //height: 100%;
  width: 30%;
  animation: zoomOut 0.8s ease-in-out;

  &:hover {
    @include border-theme();
    transition: all 0.6s ease;
  }

  img {
    width: 100%;
    height: 60%;
    border: 1px solid white;
  }

  .card-description {
    width: 100%;
    height: 30%;
    padding: 10px;
    //border: 1px solid black;
    background-color: whitesmoke;

    a {
      text-decoration: none;
    }
  }
  .card-footer {
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: whitesmoke;
    //border: 1px solid red;

    a.button {
      margin: 5px;
      padding: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.16, rgb(207, 207, 207)),
        color-stop(0.79, rgb(252, 252, 252))
      );
      background-image: -moz-linear-gradient(
        center bottom,
        rgb(207, 207, 207) 16%,
        rgb(252, 252, 252) 79%
      );
      background-image: linear-gradient(
        to top,
        rgb(207, 207, 207) 16%,
        rgb(252, 252, 252) 79%
      );
      border: 1px solid lightgray;
      box-shadow: 2px 2px 2px #818181;
      color: black;
      text-decoration: none;
    }
  }
}
//------|portfolio Section|------\\

//------|contact Section|------\\
#contact {
  @include light2Dark();
}
//------|contact Section|------\\

//to show and hide some content
.hidden {
  display: none !important;
}

//------|Animations|------\\
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rightSlide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
//------|Animations|------\\

//------|Mobile layout|------\\
@media (max-width: 768px) {
  .overlay {
    a {
      font-size: 4rem;
    }
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  header h1 {
    font-size: 2.5rem;
    line-height: 4rem;
    text-shadow: 2px 2px 12px $text-shadow;
  }

  #about {
    padding: 1rem;
  }

  #about-skills {
    div {
      img {
        width: 10%;
      }
    }
  }

  #portfolio {
    padding: 0.5rem;
  }

  .my-cards {
    width: 100%;
    //padding: 5rem 0;
    margin: auto;

    .card-description {
      font-size: 0.8rem;
    }
  }

  #about {
    grid-template-columns: 1fr;
    grid-template-areas:
      "myPic"
      "aboutMe"
      "mySkills"
      "school"
      "schoolPic";
  }
  @include gridAreas();
}
//------|Mobile layout|------\\

//------|large screen layout|------\\
@media (min-width: 992px) {
  .overlay {
    a {
      font-size: 6rem;
    }
  }

  header h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.5rem;
  }
  header h2 {
    font-size: 2rem;
  }
}
//------|large screen layout|------\\
